.blog-one-content {
  .section-container {
    padding-top: 40px;
    padding-bottom: 40px;
    @include flex-align(flex-start, flex-start);
  }
  .blog-nav-soc {
    @include flex-align(center, center);
    flex-direction: column;
    a:not(:first-child) {
      margin-top: 25px;
    }
  }
  .blog-one-txt {
    max-width: 635px;
    margin-left: 70px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.59;
    letter-spacing: 0.3px;
    text-align: left;
    color: #454545;
    h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.35;
      letter-spacing: 0.4px;
      margin-bottom: 30px;
    }
  }
}

@include mobile() {
  .blog-one-content {
    .section-container {
      display: block;
    }
    .blog-nav-soc {
      margin-bottom: 35px;
      @include flex-align(flex-start, center);
      flex-direction: row;
      a:not(:first-child) {
        margin-top: 0;
        margin-left: 25px;
      }
    }
    .blog-one-txt {
      max-width: 100%;
      margin-left: 0;
    }
  }
}