<div class="container">
  <h1>FAQ Healthy </h1>
  <p>Have a question? Check out the list of the most frequently asked questions:</p>
  <h2>What is Healthy Lifestyle?</h2>
  <p>Healthy Lifestyle is a service based on cumulative discount system which will help you manage all the healthy
    lifestyle activities and cut unnecessary expenses in your quest for living a healthy life. </p>
  <h2>How does it work?</h2>
  <p>After a prompt registration, you get acquainted with the list of services offered in healthy establishments, you
    can become a regular customer and make use of profitable discounts and bonuses. During every visit, you can check-in
    to a service. Once you have collected 10 check-ins in any of the 4 offered categories of services - Restaurants,
    Gyms, Nutritionists, Shops, you get a discount coupon which you can use for this category. To get permanent monthly
    discounts and expert advice you can purchase a monthly Subscription.</p>
  <h2>How will I benefit from using Healthy Lifestyle?</h2>
  <p>Healthy Lifestyle becomes a great motivation for you to stay fit and eat healthy while saving your money.</p>
  <h2>Is it free to use?</h2>
  <p>You can use free version of Healthy Lifestyle to collect check-ins and turn them into discount coupons. If you want
    to receive permanent monthly discounts and expert advice, you can purchase a monthly Subscription. </p>
  <h2>How can I collect check-ins?</h2>
  <p>Check into various categories of services using the app - Restaurants, Gyms, Nutritionists, Shops. After getting 10
    check-ins, you will receive discounts. The check-in can be done only once in two hours.</p>
  <h2>How to Get a Discount?</h2>
  <p>Use services of 5 available categories - Restaurants, Food Delivery, Gyms, Nutritionists, Shops - and get check-in
    for each visit. Once you have collected 10 check-ins, you will receive a discount coupon. You can turn check-ins
    from one category only into discounts in the same category ( 10 check-ins in Gyms = a discount for Gyms). Or
    purchase a Subscription choosing the most suitable for you subscription plan.</p>
  <h2>How can purchase a subscription?</h2>
  <p>Just choose one of the offered Subscription plans to get better discounts: Standard, Medium or Premium.</p>
  <h2>How will I benefit from the Subscription?</h2>
  <p>Having purchased a Monthly Subscription, you automatically get discounts on all the services offered on the
    platform. With the wide range of industry experts we offer, you will make use of individual consultations as well as
    have workout and nutrition plans tailored specifically for you. You can use discounts and bonuses throughout the
    entire subscription period.</p>
  <h2>How can I use my discounts?</h2>
  <p>Having collected 10 check-ins in one of 4 available service categories (Restaurants, Gyms, Nutritionists, Shops),
    you will get a discount coupon for this particular category. You will be required to present it to an employee of
    the service and provide your phone number in order to get a discount. Once activated, a coupon should be used within
    24 hours.</p>
  <p>If you still have questions, contact us: info@dtg.group.</p>
</div>
