.get-premium {
  background-color: #f7e8d1;
  background-image: url("../../assets/img/home/apple-1.png"), url("../../assets/img/home/dumbbell.png"), url("../../assets/img/home/apple-2.png"), url("../../assets/img/home/ruler.png"), url("../../assets/img/home/sneakers.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left bottom, 10% top, center bottom, 65% top, right bottom;

  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    @include flex-align(space-between, center);
  }
  .get-premium-txt {
    color: $color_black;
    font-weight: 300;
    h2, .bold {
      font-size: 30px;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
    }
    .bold {
      font-weight: 900;
    }
    p {
      font-size: 17px;
      letter-spacing: 0.3px;
    }
  }
}

@media (max-width: 1070px) {
  .get-premium {
    .container {
      flex-wrap: wrap;
      justify-content: center;
    }
    .get-premium-txt {
      width: 100%;
      text-align: center;
    }
    .btn {
      margin-top: 20px;
    }
  }
}

@include tablet() {
  .get-premium {
    background-image: none;
  .get-premium-txt {
    line-height: 37px;
  }
  }
}
