.type-of-service {
  background-color: $color_silver;
  .container {
    padding-top: 70px;
    padding-bottom: 100px;
    @include flex-align(space-between, flex-end);
  }
  .tos-item {
    text-align: center;
    img {
      cursor: pointer;
    }
    h3 {
      color: $color_black;
      font-size: 18px;
      font-weight: 900;
      margin: 50px 0 35px;
      white-space: nowrap;
    }
    p {
      color: $color_low_black;
      font-size: 17px;
      line-height: 1.88;
      letter-spacing: 0.3px;
    }
    &:not(:last-child) {
      margin-right: 85px;
    }
  }
}

@media (max-width: 808px) {
  .type-of-service {
    .container {
     flex-wrap: wrap;
      justify-content: center;
    }
    .tos-item {
      width: 100%;
      &:not(:last-child) {
        margin-right: 0px;
      }
      &:not(:first-child) {
        margin-top: 50px;
      }
    }
  }
}
