<ngx-spinner
  bdColor = "rgba(255, 255, 255, 1)"
  size = "large"
  color = "#fe5c5c"
  type = "ball-spin"
></ngx-spinner>
<section class="our-services">
  <div class="section-container"><h2 class="section-title">Our services</h2>
    <div class="services-container">
      <div class="services-item" routerLink='/services/restaurant'><a>Restaurants</a></div>
      <div class="services-item" routerLink='/services/food_delivery'><a>Food delivery</a></div>
      <div class="services-item" routerLink='/services/gym'><a>Gyms</a></div>
      <div class="services-item" routerLink='/services/nutritionists'><a>Nytritionists</a></div>
      <div class="services-item" routerLink='/services/shops'><a>Shops</a></div>
    </div>
  </div>
</section>
<section class="services-works">
  <div class="section-container"><h2 class="section-title">How it works</h2>
    <div class="step-container">
      <div class="step-item">
        <div class="number-round">1</div>
        <h3>Choose category</h3>
        <p>Choose the category or number of categories you are interested in</p></div>
      <div class="step-item">
        <div class="number-round">2</div>
        <h3>Choose service</h3>
        <p>Choose the category or number of categories you are interested in</p></div>
      <div class="step-item">
        <div class="number-round">3</div>
        <h3>Collect check ins</h3>
        <p>Some of services give you free discounts for visiting any other place you like</p></div>
      <div class="step-item">
        <div class="number-round">4</div>
        <h3>Get premium discounts</h3>
        <p>A big amount of discounts for all services you can gat for a small pay</p></div>
    </div>
  </div>
</section>
<section class="top-services">
  <div class="section-container"><h2 class="section-title">Top services</h2>
    <div class="tab-container">
      <div class="services-list-menu">
        <a [ngClass] ="{'active': currentTypeOfServices === 'restaurant'}" (click)="changeCurrentTypeOfServices('restaurant')">Restaurants</a>
        <a [ngClass] ="{'active': currentTypeOfServices === 'food_delivery'}" (click)="changeCurrentTypeOfServices('food_delivery')">Food delivery</a>
        <a [ngClass] ="{'active': currentTypeOfServices === 'gym'}" (click)="changeCurrentTypeOfServices('gym')">Gyms</a>
        <a [ngClass] ="{'active': currentTypeOfServices === 'nutritionists'}" (click)="changeCurrentTypeOfServices('nutritionists')">Nytritionists</a>
        <a [ngClass] ="{'active': currentTypeOfServices === 'shops'}" (click)="changeCurrentTypeOfServices('shops')">Shops</a>
      </div>
      <section class="tab-content">
        <ngx-slick class="top-services-container" [config]="slideConfig" #slickModal="slick-modal" *ngIf="ready">
          <div class="top-services-item" ngxSlickItem *ngFor="let service of dataOfServices[currentTypeOfServices]">
            <div class="top-services-item-img" [ngStyle]="{'background-image': getImg(service.photos)}"></div>
            <h3>{{service.name}}</h3>
            <a (click)="openServiceDialog(service)" class="btn">More</a>
          </div>
        </ngx-slick>
      </section>
    </div>
  </div>
</section>
