<footer class="footer" *ngIf="hideFooter()">
  <div class="overlay"></div>
  <div class="container">
    <ul class="footer-item">
      <li class="footer-item-title">healthy lifestyle</li>
      <li><a routerLink="faq">FAQ</a></li>
      <li><a routerLink="privacy-policy">Privacy Policy</a></li>
      <li><a routerLink="terms-and-conditions">Terms and Conditions</a></li>
    </ul>
    <ul class="footer-item">
      <li class="footer-item-title">Partnership</li>
      <li><a routerLink="for-business">For Business</a></li>
    </ul>
    <ul class="footer-item">
      <li class="footer-item-title">connect with us</li>
      <li><a routerLink="/blogs">Blog</a></li>
      <li class="social-links">
        <a href="#"><img src="../../assets/img/icons/fb.svg"></a>
        <a href="#"><img src="../../assets/img/icons/mail.svg"></a>
        <a href="#"><img src="../../assets/img/icons/insta.svg"></a></li>
    </ul>
    <ul class="footer-item">
      <li class="footer-item-title">Download our app</li>
      <li><a href="#">Android<img src="../../assets/img/icons/android.svg"></a></li>
      <li><a href="#">IOS<img src="../../assets/img/icons/apple.svg"></a></li>
    </ul>
  </div>
</footer>
