.services-works {
  .section-container {
    padding-bottom: 55px;
  }
  .step-container {
    margin-top: 75px;
    @include flex-align(space-between, flex-start);
  }
  .step-item {
    width: 215px;
    position: relative;
    text-align: center;
    .number-round {
      margin: auto;
    }
    h3 {
      color: $color_black;
      font-size: $font_size_simple;
      font-weight: 900;
      margin: 30px 0 15px;
      white-space: nowrap;
    }
    p {
      color: $color_low_black;
      font-size: $font_size_simple;
      line-height: 1.88;
      letter-spacing: 0.3px;
      font-weight: normal;
    }
    &:not(:first-child){
      margin-left: 30px;
    }
    &:not(:last-child){
      &:after{
        content: "";
        width: 30px ;
        border-bottom:1px solid #d8d8d8;
        position:absolute;
        top: 30px;
        left: 100%;
        transform: scale(2);
      }
    }
  }
}

@include mobile(){
  .services-works {
    .step-container {
      margin-top: 50px;
      flex-wrap: wrap;
    }
    .step-item {
      width: 100%;
      &:not(:first-child){
        margin-left: 0;
        margin-top: 30px;
      }
      &:not(:last-child){
        &:after{
          content:none;
        }
      }
    }
  }
}
