.our-services {
  background-image: url("../../assets/img/list-of-services/list-of-services-bg.png");
  background-repeat: no-repeat;
  .section-container {
    padding-bottom: 0;
  }
  .services-container {
    margin-top: 80px;
    @include flex-align(space-between, flex-start);
  }
  .services-item {
    width: 217px;
    padding: 162px 0;
    background-size: cover;
    text-align: center;
    line-height: 0px;
    cursor: pointer;
    a {
      font-size: 18px;
      font-weight: 900;
      color: #ffffff;
      text-transform: uppercase;
      border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    }
    &:nth-child(1) {
      background-image: url("../../assets/img/list-of-services/Restaurants.png");
    }
    &:nth-child(2) {
      background-image: url("../../assets/img/list-of-services/Food-delivery.png");
    }
    &:nth-child(3) {
      background-image: url("../../assets/img/list-of-services/Gyms.png");
    }
    &:nth-child(4) {
      background-image: url("../../assets/img/list-of-services/Nytritionists.png");
    }
    &:nth-child(5) {
      background-image: url("../../assets/img/list-of-services/Shops.png");
    }
  }
}

@include md-laptop() {
  .our-services {
    .services-item {
      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
}

@include tablet() {
  .our-services {
    .services-item {
      padding: 60px 0;
    }
  }
}

@media (max-width: 850px) {
  .our-services {
    .services-container {
      flex-wrap: wrap;
    }
    .services-item {
      width: 100%;
      padding: 120px 0;
      &:not(:first-child) {
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }
}

@include mobile() {
  .our-services {
    .services-container {
      margin-top: 50px;
    }
  }
}
