<div class="container">
  <h1>Terms and Conditions</h1>
  <h2>Applicability</h2>
  <p>These terms and conditions (“Terms and Conditions”) govern your account on the Healthy LifeStyle website and mobile
    application (“site and/or mobile application”) and your use of products and services provided through the site
    and/or
    mobile application. Healthy LifeStyle provides the content posted on the site and/or mobile application subject to the
    following Terms and Conditions.
  </p>
  <h2>Changes to the Terms and Conditions
  </h2>
  <p>Healthy LifeStyle reserves the right to delete, add, or change Terms and Conditions at any time and on any discretion
    without
    any prior notice. Therefore, you should check Terms and Conditions on a regular basis as updated versions will be
    binding on you. Any modification will be effective upon our posting of updated Terms and Conditions. You understand
    and agree that your continued access to or use of the site and/or mobile application after the effective date of
    modification to Terms and Conditions indicates your acceptance of the modification.
  </p>
  <h2>Site and Mobile Application Availability
  </h2>
  <p>The site and/or mobile application may be modified, updated, interrupted, suspended or discontinued at any time
    without prior notice or liability.
  </p>
  <h2>Legal Capacity. Children and minors
  </h2>
  <p>If you are under the age of consent in your country to form a binding agreement, you should only use our site
    and/or
    mobile application if you have the legal consent of your parent or guardian for your use of our site and/or mobile
    application. You should use our site and/or mobile application only if you are fully able to understand and enter
    into
    and comply with Terms and Conditions. Our site and/or mobile application are not intended for children under 16: if
    you are under 16, please wait until you turn 16 to use them.
  </p>
  <h2>User Account
  </h2>
  <h3>Account</h3>
  <p>You allowed to create an account and provide information about yourself in order to access some of the features
    offered through the site and mobile application. By using our site and/or mobile application you agree to notify us
    immediately of any unauthorised use of your account or any other breach of security. Healthy LifeStyle will not be held
    responsible for any damage or loss that you may incur in any unauthorised or authorised use of your account, either
    with or without your knowledge. Additionally, you may be held liable for any losses incurred by Healthy LifeStyle or another
    party due to someone else using your account. You may or may not use anyone else’s account at any time. We reserve
    the
    right to close your account at any time, for any or no reason at all.
  </p>
  <h3>User Content
  </h3>
  <p>The account is for your personal, non-commercial use only. You may not impersonate someone else, create or use and
    account for anyone other than yourself, provide an email address or personal information other than your own, or
    create multiple accounts. You acknowledge that you are responsible for any content you may submit through the site
    and
    mobile application, including the legality, reliability, appropriateness, originality and copyright of any such
    content. For any content you submit or made available through the site (other than personal information, which is
    handled in accordance with the privacy policy) you grant Healthy LifeStyle a perpetual, irrevocable, non-terminable,
    worldwide, royalty-free and non-exclusive license to use, distribute, publicly display, modify, create derivative
    works, and sublicense such content or any part of such content in any media.
  </p>
  <h2>Privacy Notice
  </h2>
  <p>A copy of the Healthy LifeStyle Privacy Policy that applies to the collection, use, disclosure and other processing of
    personal information of Healthy LifeStyle are posted and available on the site and/or mobile application. Terms and
    Conditions
    incorporate the entirety of the information we may obtain about you (either via the Healthy LifeStyle site and/or mobile
    application, by email, telephone, or any other means) being collected, stored and otherwise processed in accordance
    with the terms of the Privacy Policy.
  </p>
  <h2>Site Content
  </h2>
  <p>The content of the site and/or mobile application including but not limited to the texts, graphics, photographs,
    software, video and audio content, etc is owned by or licensed to Healthy LifeStyle and is subject to copyright and other
    intellectual property rights under Ukrainian Law. All users are prohibited to re-post, republish, reproduce or copy
    the site content to other sites, mobile applications, or otherwise without the prior written consent or citation of
    content ownership from Healthy LifeStyle. Users cannot sell or distribute site content to the third parties, prepare
    derivative works of or otherwise exploit content without the prior written permission of Healthy LifeStyle. Healthy LifeStyle has no
    obligations to grant you its permission to re-post, republish, reproduce, copy, sell, distribute, prepare derivative
    works of or otherwise exploit site content. All of Healthy LifeStyle trademarks, service marks and logos are owned by or
    licensed to Healthy LifeStyle and may not be used for any purpose without the prior written consent of Healthy LifeStyle.
  </p>
  <h2>Your Conduct on the Healthy LifeStyle site and/or mobile application
  </h2>
  <p>Healthy LifeStyle site is a private property. All interactions on this site must be lawful and must comply with Terms and
    Conditions. To the extent your conduct (as judged by us in our sole discretion) restricts or inhibits any other user
    from using or enjoying any part of this site, we may limit your privileges on the site and seek other remedies.<br>The
    site and/or mobile application are designed to offer users reservation with restaurants, hotels, shops,
    entertainment
    venues and other partners (“Partners”), with the opportunity to check-in and get a discount. You agree not to use
    the
    site and/or mobile application in any manner that could damage, disable, overburden, or impair any server, or the
    networks connected to any Healthy LifeStyle server, or interfere with any other party’s use and enjoyment of the site and/or
    mobile application. You are prohibited to gain unauthorised access to any portion of the site and/or mobile
    application, other accounts, computer systems, or networks connected to any Healthy LifeStyle server, through hacking,
    password or data mining, or any other means. You may not obtain or attempt to obtain any materials or information
    not
    intentionally made available to you on the site and/or mobile application. You will not link to any part of the
    sites
    if such activity is illegal or may cause damage to, or otherwise harm Healthy LifeStyle or any other party. Healthy LifeStyle
    reserves
    the right in its sole discretion to disable or otherwise terminate your use of the site and/or mobile application,
    or
    request you to do the same. Healthy LifeStyle reserves all legal rights in connection to the Healthy LifeStyle sites and/or mobile
    application not expressly granted to you by Terms and Conditions.<br>As a recommendation service, we think it is
    really important that we send you communications about our services and promotional offers that we think may
    interest
    you, as we would hate to think you missed out on a discount with one of Partners. Therefore, by using the site
    and/or
    mobile application you agree to be occasionally contacted by us via email or mobile phone. However, you have the
    right
    to opt-out of communications we send you at any time. You can exercise this right in accordance with Privacy Policy.
  </p>
  <h2>Reservations and Cancellations
  </h2>
  <p>Healthy LifeStyle provides the reservation program to its customers but does not guarantee the reservations or discounts
    provided by Partners. Healthy LifeStyle is not responsible for the service, eligibility, or termination of Partners or
    services provided or not provided by Partners to you. Healthy LifeStyle may stop your use of the site and/or mobile
    application and prohibit you from making further reservations for any reason and at sole discretion of Healthy LifeStyle.
    Such
    actions include but not limited to committing fraud of any kind with regards to your obligation to pay Partners in
    full for services rendered.
  </p>
  <p>You agree to notify Partners within a reasonable time in case of any changes of reservation time or cancelation of
    any reservations made by you.
  </p>
  <h2>Discounts and Taxes
  </h2>
  <p>By using the site and/or mobile application you agree to notify us immediately of any errors or omissions in the
    discount amount. We will use reasonable efforts to correct any errors or omissions as soon as practicable after
    learning of them. Discounts cannot be applied retroactively.
  </p>
  <p>Applicable taxes may vary. We may not be able to notify you in advance of changes in applicable taxes.
  </p>
  <h2>Claim of Copyright Infringement
  </h2>
  <p>Healthy LifeStyle respects the intellectual property rights of others. If you believe in good faith that any site or mobile
    application content, or other matter posted on the site infringes your copyrights, please contact us providing the
    following:
  </p>
  <ul>
    <li>a physical or electronic signature of the owner, or a person authorised to act on behalf of the owner, of the
      copyright that is allegedly infringed;
    </li>
    <li>identification of the copyrighted work allegedly infringed;
    </li>
    <li>identifying information reasonable sufficient to allow determination by Healthy LifeStyle of the location of the
      material
      that is allegedly infringing;
    </li>
    <li>information reasonably sufficient to permit Healthy LifeStyle to contact you;
    </li>
    <li>a statement that the information in the notification is accurate, and under penalty of perjury, that you are
      authorised to act on behalf of the owner of an exclusive right that is allegedly infringed; and
    </li>
    <li>your acknowledge that if your fail to comply with all of the requirements of this section, your notice may not
      be
      valid. For any questions regarding this procedure, or to submit a complaint, please contact Healthy LifeStyle with our
      “Contact Us” form.
    </li>
  </ul>
  <h2>Links to Other Websites of Mobile Sites
  </h2>
  <p>The site may contain advertisements and/or links to other sites (“the third party site”). These links are provided
    solely for the convenience of the users. Healthy LifeStyle does not endorse, sanction or verify the accuracy or ownership of
    the information contained in the advertisements or the content of the third party site or any products or services
    advertised on the third party site. If you decide to leave the site and navigate to the third party site, or install
    any applications, software or download content from any such sites, you do so at your own risk. Once you access the
    third party site through a link on the Healthy LifeStyle site and/or mobile application, you may no longer be protected by
    Terms and Conditions and you may be subject to the terms and conditions of such third party site. You should review
    the applicable terms and policies, including privacy and data gathering practices, of any such sites to which you
    navigate to from the Healthy LifeStyle site and/or mobile application, or relating to any applications you use or install
    from
    the third party site. Concerns regarding the third party site should be directed to the third party site itself. DTG
    GROUP bears no responsibility for any actions associated with the third party site. Moreover, Healthy LifeStyle does not
    imply
    an affiliation with any third party sites.
  </p>
  <h2> Disclaimers and Limitations of Liability
  </h2>
  <p>You agree that Healthy LifeStyle will not be held liable for any direct or consequential loss or damage incurred as a
    result
    of use of the site and/or mobile application, inability to use, or in connection with the use, including, without
    limitation any liability for:
  </p>
  <ul>
    <li>loss of income or revenue;
    </li>
    <li>loss of business;
    </li>
    <li>loss of profits or contracts;
    </li>
    <li>loss of anticipated savings;
    </li>
    <li>loss of data;
    </li>
    <li>loss of goodwill;
    </li>
    <li>wasted management of office time;
    </li>
  </ul>
  <p>for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach
    of contract or otherwise, even if foreseeable.
  </p>
  <p>You understand that Healthy LifeStyle is not the seller of the goods or provider of the services advertised on the site
    and/or mobile application. Healthy LifeStyle is not the agent of any of Partners, and therefore takes no responsibility for
    the services or products for which the Partner provides. Healthy LifeStyle has the right at any time to change, modify,
    correct, add to, discontinue, or retire any aspect or feature of the site and/or mobile application, including but
    not
    limited to hours of availability, equipment needed for access or use, or the availability of the site and/or mobile
    application (or any part thereof) on any particular device or communications service. Healthy LifeStyle has no obligation to
    provide you with notice of any of such changes, and Healthy LifeStyle is under no obligation to provide you with any
    support,
    error corrections, updates, upgrades, bug fixes, and/or enhancements of the site and/or mobile application.
  </p>
  <h2>Indemnification</h2>
  <p>You agree to defend, indemnify, and hold harmless Healthy LifeStyle from all liabilities, claims, damages, losses, and
    expenses, including legal fees that arise from your use of the site and/or mobile application. Healthy LifeStyle reserves
    the
    right at its own expense to assume the exclusive defence and control of any matter otherwise subject to
    indemnification by you, in which event you will cooperate with Healthy LifeStyle in asserting any available defences.
  </p>
  <h2>Governing Law and Jurisdiction
  </h2>
  <p>All disputes arising out of, relating to or connected with Terms and Conditions, Privacy Policy, or your use of any
    part of the Healthy LifeStyle site and/or mobile application, shall be referred to and finally resolved under the rules of
    Ukrainian Law. Notwithstanding any other provision of Terms and Conditions, to the extent that you have in any
    manner
    violated or threatened to violate Healthy LifeStyle intellectual property rights, Healthy LifeStyle reserves the right to seek
    injunctive or other appropriate relief in any court of Ukraine, and you consent to exclusive jurisdiction and venue
    in
    such courts.
  </p>
  <h2>Termination</h2>
  <p>You may terminate your relationships with Healthy LifeStyle at any time by closing your account, discontinuing your use of
    the site and/or mobile application, and providing Healthy LifeStyle with a notice of termination. Please review our Privacy
    Policy for the information about what we do with your data when account was terminated.
  </p>
  <p>We may close your account, suspend your ability to use certain portions of the site and/or mobile application,
    and/or
    ban you altogether from the site and/or mobile application for any or no reason, and without notice or liability of
    any kind. Any such actions could prevent you from accessing your account, the site, your content, site content,
    mobile
    application, or any other related information.
  </p>
  <p>In the event of any termination your relationships with Healthy LifeStyle, whether by you or us, sections 1-15 will
    continue
    to be in full force and effect.</p>
</div>
