<section class="main business-main">
  <div class="overlay"></div>
  <div class="main-info"><h1 class="main-info-title">Become a partner to grow your<br>audience<span
    class="txt-yellow"> in minutes</span></h1>
    <p class="main-info-description">Healthy Lifestyle platform is a great fit for those who offer services for
      active and healthy way<br>of living - restaurants, gyms, shops, food delivery, nutritionists.</p><a
      href="list-of-servises.html" class="btn">Join now</a></div>
</section>
<section class="about-us">
  <div class="curve-rectangle"></div>
  <div class="section-container business-container">
    <div class="business-info"><h2 class="section-title_bold"><span class="bold-word">Who</span> we are</h2>
      <p class="business-decsription">We have created a platform for the keen healthy lifestyle fans. They
        will make use of the great healthy services such as gyms, shops, restaurants, food delivery services
        and nutritionists gathered in one place.</p>
      <p class="business-decsription">Due to flexible discounts and bonuses system the users will be rewarded
        for their healthy habits - through collecting check-ins in the establishments or the paid
        Subscription. Now it is possible to save by spending.</p></div>
    <div class="business-img"><img src="../../assets/img/for-business/phones-au.png"></div>
  </div>
</section>
<section class="advantages">
  <div class="curve-rectangle"></div>
  <div class="section-container">
    <div class="section-title">Advantages</div>
    <div class="advantages-container">
      <div class="advantages-item">
        <div class="advantages-item-img"><img src="../../assets/img/for-business/icons/accessible.svg"></div>
        <h2>ACCESSIBLE</h2>
        <p>It is absolutely free to place your service in the application</p></div>
      <div class="advantages-item">
        <div class="advantages-item-img"><img src="../../assets/img/for-business/icons/free-audience.svg"></div>
        <h2>Free Audience</h2>
        <p>Daily inflow of new customers</p></div>
      <div class="advantages-item">
        <div class="advantages-item-img"><img src="../../assets/img/for-business/icons/reputation.svg"></div>
        <h2>Enhanced Reputation</h2>
        <p>Trustworthiness and brand awareness raising</p></div>
      <div class="advantages-item">
        <div class="advantages-item-img"><img src="../../assets/img/for-business/icons/program.svg"></div>
        <h2>Loyalty Program</h2>
        <p>Due to our business model one-time visitors become loyal customers</p></div>
    </div>
  </div>
</section>
<section class="partnership">
  <div class="curve-rectangle"></div>
  <div class="section-container business-container">
    <div class="business-info"><h2 class="section-title_bold"><span class="bold-word">Partnership</span>
      Conditions</h2>
      <p class="business-decsription">All customers will be divided into two types - Standard and Premium (
        who chose on of the offered Subscription plans). Premium users will be provided with additional
        discounts and bonuses - an approach every trustworthy business takes in order to encourage and
        reward loyal customers.</p></div>
    <div class="business-img"><img src="../../assets/img/for-business/phones-p.png"></div>
  </div>
</section>
<section class="user-service">
  <div class="curve-rectangle"></div>
  <div class="section-container business-container">
    <div class="business-img"><img src="../../assets/img/for-business/phones-s.png"></div>
    <div class="business-info"><h2 class="section-title_bold"><span class="bold-word">User</span> servises</h2>
      <p class="business-decsription">User identification is via a phone number. Every website user will have
        an individual Personal Space, which can be accessed from their gadgets, so no additional equipment
        is needed.</p></div>
  </div>
</section>
<section class="business-contacts">
  <div class="section-container">
    <div class="business-contacts-left"><p>Should you have any questions regarding the project, please<span
      class="bold"> contact us:</span></p></div>
    <div class="business-contacts-right">
      <div class="business-contacts-container"><p class="business-contacts-info"> E-mail:<a
        href="mailto:support@hlf.group" class="bold"> support@hlf.group</a></p>
        <p class="business-contacts-info">Phone:<a href="tel:+18888834669" class="bold"> +18888834669</a>
        </p></div>
    </div>
  </div>
</section>
