.services {
  padding: 125px 20px 0;
  .services-list-menu {
    margin-top: 30px;
    a {
      font-size: $font_size_simple;
      font-weight: normal;
      line-height: 1.88;
      letter-spacing: 0.3px;
      color: $color_low_black;
      display: inline-block;
      transition: all 200ms;
      &:not(:last-child){
        margin-right: 16px;
        &:after {
          content: "|";
          display: inline-block;
          margin-left: 16px;
        }
      }
      &:hover {
        color: #ff5c5c;
      }
      &:not(:first-child) {

      }
      &.active {
        color: #ff5c5c;
        &:after {
          color: $color_black;
        }
      }
    }
  }
  .services-list-conatainer {
    @include flex-align(space-between, stretch);
  }
  .services-list {
    width: 100%;
  }
  .services-list-items {
    @include flex-align(flex-start, flex-start);
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(149, 149, 149, 0.3);
    padding-bottom: 50px;
  }
  .services-item {
    width: 19%;
    margin: 35px 0.5% 0;
  }
  .services-item-info {
    padding: 25px 0 20px;
  }
  .services-item-img {
    height: 216px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  .services-item-title {
    @include flex-align(space-between, center);
    span {
      font-size: 18px;
      font-weight: 900;
      line-height: normal;
      color: $color_low_black;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  .services-item-description {
    margin-top: 15px;
    font-size: $font_size_simple;
    font-weight: normal;
    line-height: normal;
    color: #696969;
  }
  .star {
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    margin-right: 20px;
    background-image: url("../../assets/img/icons/star.svg");
    background-size: cover;
    cursor: pointer;
    transition: all 200ms;
    &:hover {
      background-image: url("../../assets/img/icons/star-full.svg");
    }
  }
  .star-full {
    @extend .star;
    background-image: url("../../assets/img/icons/star-full.svg");
    &:hover {
      background-image: url("../../assets/img/icons/star.svg");
    }
  }
  .services-list-menu.bottom {
    margin: 60px 0;
  }
  .services-list.open-map {
    width: 65vw;
    .services-item {
      width: 31%;
      margin: 35px 1% 0;
    }
  }
  .services-map.open-map {
    display: block;
  }
}

@media (max-width: 1440px) {
  .services {
    .services-list.open-map {
      width: 65vw;
      .services-item {
        width: 47%;
        margin: 35px 1% 0;
      }
    }
    .services-item {
      width: 30%;
      margin: 35px 1.5% 0;
    }
  }
}

@include tablet() {
  .services {
    padding: 160px 20px 0;
    .services-list-menu {
      margin-top: 0;
    }
    .services-item {
      width: 46%;
      margin: 35px 10px 0;
    }
    .services-list-items {
      @include flex-align(space-around, flex-start);
    }
    .services-list.open-map {
      width: 100vw;
    }
  }
}

@include mobile() {
  .services {
    padding: 95px 20px 0;
    .services-item {
      width: 100%;
      margin: 35px 0 0;
    }
    .services-list-items {
      @include flex-align(space-around, flex-start);
    }
    .services-list.open-map {
      .services-item {
        width: 100%;
        margin: 35px 1% 0;
      }
    }
  }
}
