<form [formGroup]="authForm" >
  <input type="text" placeholder="Type your number" formControlName="phoneNumber">
  <div id="recaptcha-container"></div>
  <div *ngIf="windowRef.confirmationResult">
    <label for="code">Enter your Verification Code Here</label><br>
    <input type="text" id="code" formControlName="verificationCode">
  </div>
  <button (click)="sendLoginCode()" *ngIf="!windowRef.confirmationResult" class="btn">SMS Text Login Code</button>
  <button (click)="verifyLoginCode()" *ngIf="windowRef.confirmationResult" class="btn verify">verify</button>
</form>
<p class="error">{{msg}}</p>