.calculate {
  .container{
    padding-bottom: 80px;
  }
  h2 {
    font-size: 35px;
    font-weight: bold;
    color: $color_black;
    margin-bottom: 65px;
    text-align: center;
  }
  p {
    margin-left: 50px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.88;
    letter-spacing: 0.3px;
    color: $color_low_black;
  }
  img {
    margin-top: 20px;
  }
  .calculate-container {
    margin: auto;
    max-width: 830px;
    @include flex-align(center, flex-start);
  }
}

@include mobile(){
  .calculate {
    .calculate-container {
      display: block;
      text-align: center;
    }
    p {
      margin-left: 0;
    }
    img {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}