.info {
  overflow-x: hidden;
  .container {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .info-block {
    @include flex-align(space-between, stretch);
    & > div {
      width: 50%;
    }
    &:first-child {
      .info-txt {
        padding-right: 135px;
      }
      img {
        top: -50px;
      }
    }
    &:last-child {
      .info-txt {
        padding-left: 50px;
        .info-txt-description {
          padding-right: 80px;
        }
      }
      margin-top: 200px;
      img {
        top: -50px;
        right: 50px;
      }
    }
  }
  .info-img {
    position: relative;
  }
  .info-txt-title {
    font-size: 35px;
    font-weight: bold;
    color: $color_black;
    margin-bottom: 65px;
  }
  .info-txt-description {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.88;
    letter-spacing: 0.3px;
    color: $color_low_black;
  }
  .mt {
    margin-top: 125px;
  }
  img {
    position: absolute;
  }
}

@include md-laptop() {
  .info {
    .container {
      padding-bottom: 125px;
    }
    .info-block {
      &:first-child {
        .info-txt {
          padding-right: 50px;
        }
      }
      &:last-child {
        .info-txt {
          .info-txt-description {
            padding-right: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px){
  .info {
    .info-block {
      & > div {
        width: 100%;
        text-align: center;
      }
      &:first-child {
        .info-txt {
          padding-right: 0;
        }
      }
      &:last-child {
        .info-txt {
          padding-left: 0;
          .info-txt-description {
            padding-right: 0;
          }
        }
        margin-top: 125px;
      }
    }
    .info-img {
      display: none;
    }

    .mt {
      margin-top: 125px;
    }
    img {
      position: absolute;
    }
  }
}