//colors
$color_silver: #f9f9f9;
$color_white: #fff;
$color_black: #505050;
$color_low_black: #454545;
$color_red: rgba(255,92,92,0.85);
$color_red_solid: rgba(255,92,92,1);
$color_yellow: #fee665;
$color_dark_yellow: #f7e8d1;

//fonts
$roboto: "Roboto";

$font_size_main_title: 65px;
$font_size_main_description: 20px;

$font_size_section_title: 40px;
$font_size_simple: 17px;

//distance

//media query
$mobile-width: 768px;
$tablet-width: 1024px;
$md-desktop-width: 1190px;
$lg-desktop-width: 1550px;