@import "../style/base/variables";
@import "../style/base/mixins";

form {
  text-align: center;
}

input {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  border: none;
  height: 57px;
  line-height: 10px;
  margin-bottom: 20px;
}

#recaptcha-container {
  margin: 30px auto;
@include flex-align(center, center);
}
.verify {
  margin-top: 20px;
}
.sign_up {
  display: flex;
  flex-direction: column;
}
.error {
  color: #e74747;
  text-align: center;
}