<ngx-spinner
  bdColor = "rgba(255, 255, 255, 1)"
  size = "large"
  color = "#fe5c5c"
  type = "ball-spin"
></ngx-spinner>
<section class="bloger-intro">
  <div class="bloger-img">
    <div class="overlay"></div>
    <div class="section-container">
      <div class="bloger-name">
        <h1>{{currentBloger.name}}</h1>
        <p>{{currentBloger.type}}</p>
      </div>
    </div>
  </div>
  <div class="bloger-info">
    <div class="section-container">
      <div class="bloger-photo" [ngStyle]="{'background-image': 'url('+currentBloger.photo+')'}"></div>
      <div class="bloger-container">
        <div class="bloger-txt">
          <h2>{{currentBloger.statusTitle}}</h2>
          <p>{{currentBloger.statusDescription}}</p>
        </div>
        <div class="blog-nav-soc">
          <a href="{{currentBloger.fb}}"><img src="../../../assets/img/icons/fb-dark.svg"></a>
          <a href="{{currentBloger.tw}}"><img src="../../../assets/img/icons/tw-dark.svg"></a>
          <a href="mailto:{{currentBloger.email}}"><img src="../../../assets/img/icons/mail-dark.svg"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bloger-articles">
  <div class="section-container">
    <div class="section-title">{{currentBloger.name}} articles</div>
    <div class="blogs-container">
      <div class="blogs-item" *ngFor="let blog of currentBlogerArticles">
        <div class="blogs-item-img" [ngStyle]="{'background-image': 'url('+blog.photo+')'}"></div>
        <div class="blogs-item-info"><span class="blog-info-date">{{blog.date | date:'mediumDate'}}</span>
          <h2 class="blog-info-title">{{blog.title}}</h2>
          <p class="blog-info-description">{{blog.description | ellipsis:80}}</p>
          <a href="#" class="blog-info-read-more" [routerLink]="['/blog', blog.blogId]">Read more
            <i aria-hidden="true" class="fa fa-long-arrow-right"></i>
          </a>
          <div class="blog-info-author">
            <div class="info-author-img" [ngStyle]="{'background-image': 'url('+blog.bloger_info.photo+')'}"></div>
            <div class="info-author-txt">
              <span class="bold">{{blog.bloger_info.name}}</span>
              <span class="italic">{{blog.bloger_info.type}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
