.bloger-intro {
  .bloger-img {
    position: relative;
    background-image: url("../../../assets/img/blog-description/blog-description-bg.png");
    background-size: cover;
    background-position: center;
    .section-container {
      position: relative;
      padding: 60px 0 54px;
    }
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .bloger-name {
    margin-left: 150px;
    h1 {
      font-size: 40.5px;
      font-weight: 500;
      letter-spacing: 0.8px;
      color: #ffffff;
    }
    p {
      font-size: 22px;
      font-weight: normal;
      font-style: italic;
      line-height: 1.57;
      letter-spacing: 0.4px;
      color: #ffffff;
    }
  }
  .bloger-info {
    position: relative;
    background-color: #f7f7f7;
  }
  .bloger-photo {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: solid 6px rgba(213, 213, 213, 0.7);
    background-image: url("../../../assets/img/home/face1.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 100%;
    transform: translateY(50%);
  }
  .bloger-container {
    @include flex-align(space-between, center);
  }
  .bloger-txt {
    max-width: 635px;
    margin-left: 150px;
    h2 {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.35;
      letter-spacing: 0.4px;
      color: #454545;
    }
    p {
      margin-top: 40px;
      font-size: 17px;
      font-weight: 300;
      font-style: italic;
      line-height: 1.59;
      letter-spacing: 0.3px;
      color: #454545;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: rgba(69, 69, 69, 0.4);
        left: -85px;
      }
    }
  }
  .blog-nav-soc {
    @include flex-align(center, center);
    flex-direction: column;
    a:not(:first-child) {
      margin-top: 25px;
    }
  }
}

@include tablet() {
  .bloger-intro {
    .bloger-container {
      display: block;
    }
    .blog-nav-soc {
      margin-top: 40px;
      flex-direction: row;
      a:not(:first-child) {
        margin-top: 0;
        margin-left: 25px;
      }
    }
    .bloger-txt {
      max-width: 100%;
      margin-left: 0;
      margin-top: 40px;
      p {
        &:before {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .bloger-intro {
    .bloger-name {
      margin-left: 25px;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 18px;
      }
    }
    .bloger-photo {
      width: 100px;
      height: 100px;
    }
    .bloger-info {
      .section-container {
        padding-top: 30px;
        padding-bottom: 50px;
      }
    }
    .bloger-txt {
      p {
        margin-top: 20px;
      }
    }
  }
}
