.about-us {
  position: relative;
  .section-container {
    padding: 70px 25px 0;
  }
  .business-img {
    img {
      transform: translate(30px, -50px);
    }
  }
}

@include mobile() {
  .about-us {
    .section-container {
      padding-top: 0;
    }
    .business-container {
      flex-wrap: wrap;
    }
    .business-info, .business-img {
      width: 100%;
    }
    .business-img {
      margin-top: 30px;
      text-align: center;
      img {
        width: 100%;
        transform: translate(0px);
      }
    }
  }
}