.business-contacts {
  .section-container {
    padding: 300px 25px 135px;
    @include flex-align(flex-start, flex-start);
  }
  .business-contacts-left, .business-contacts-right {
    width: 50%;
  }
  .business-contacts-left {
    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.68;
      letter-spacing: 0.8px;
      color: #313131;
    }
  }
  .business-contacts-right {
    @include flex-align(center, center);
  }
  .business-contacts-container {
    padding-left: 50px;
    border-left: 1px solid rgba(152, 152, 152, 0.47);
  }
  .business-contacts-info {
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #313131;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

@include tablet() {
  .business-contacts {
    .section-container {
      padding: 200px 25px 100px;
    }
  }
}

@include mobile() {
  .business-contacts {
    .section-container {
      padding: 0px 25px 100px;
      flex-wrap: wrap;
    }
    .business-contacts-left, .business-contacts-right {
      width: 100%;
    }
    .business-contacts-right {
      @include flex-align(flex-start, center);
    }
    .business-contacts-container {
      margin-top: 30px;
      padding-left: 0;
      border-left: none;
    }
    .business-contacts-info {
      &:not(:last-child) {
      }
    }
  }
}
