.user-service {
  position: relative;
 .curve-rectangle {
   background-image: linear-gradient(23deg, #628d73, #92bf65);
   height:580px;
 }
  .business-decsription, .section-title_bold {
    color: #ffffff;
  }
  .business-info {
    padding-right: 0;
    padding-left: 50px;
  }
  .business-img {
    position: relative;
    img {
      position: absolute;
      transform: translate(0px, -150px);
    }
  }
}

@include tablet(){
  .user-service{
    .business-img {
      img {
        transform: translate(-100px, -150px);
      }
    }
  }
}


@include mobile() {
  .user-service {
    .section-container {
      padding-top: 0;
    }
    .curve-rectangle {
      height:100%;
    }
    .business-container {
      padding-bottom: 200px;
    }
    .business-info {
      padding-left: 0;
      width: 100%;
    }
    .business-img {
      display: none;
    }
  }
}