.btn {
  display: inline-block;
  padding: 24px 40px;
  border-radius: 39px;
  background-color: $color_red;
  font-size: 18px;
  font-weight: bold;
  color: $color_white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 200ms;
  &:hover {
    background-color: $color_red_solid;
  }
}

.btn-opacity {
  @extend .btn;
  background-color: rgba(255,255,255,0);
  border: solid 1px #ffffff;
  &:hover {
    background-color: rgba(255,255,255,0.3);
  }
}
