label {
  cursor: pointer;
  @include flex-align(center, center);
  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .checkmark {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: white;
    border: solid 2px #454444;
    @include flex-align(center, center);
    &:after {
      content: "";
      display: none;
      width: 10px;
      height: 10px;
      background-color: #ff5c5c;
      border-radius: 50%;
      transition: all 200ms;
    }
  }
  input[type="radio"]:checked ~ .checkmark:after {
    display: inline-block;
  }
 &:hover{
   .checkmark:after {
     display: inline-block;
     opacity: 0.3;
   }
   input[type="radio"]:checked ~ .checkmark:after {
     display: inline-block;
     opacity: 1;
   }
 }
}