@import "../base/variables";
@import "../base/mixins";

.footer {
  position: relative;
  background-image: url("../../assets/img/footer-bg.png");
  background-size: cover;
  background-position: bottom;
  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .container {
    position: relative;
    padding: 95px 50px 105px;
    @include flex-align(space-between, flex-start);
  }
  .footer-item {
    &:last-child {
      li:not(:first-child) {
        width: 100px;
       a {
         justify-content: space-between;
         align-items: center;
         margin-top: -5px;
       }
      }
    }
    li {
      a {
        font-size: 17px;
        font-weight: 300;
        color: #ffffff;
        @include flex-align(flex-start, center);
        &:not(last-child) {
          margin-bottom: 20px;
        }
      }
    }
    .footer-item-title {
      margin-bottom: 60px;
      font-size: 18px;
      font-weight: 900;
      color: #ff5c5c;
      text-transform: uppercase;
    }
    .social-links {
      @include flex-align(flex-start, center);
      a:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}

@include tablet() {
  .footer {
    .container {
      flex-wrap: wrap;
      padding-bottom: 60px;
    }
    .footer-item {
      width: 50%;
      margin-bottom: 50px;
    }
  }
}
@include mobile() {
  .footer {
    .footer-item {
      width: 100%;
      .footer-item-title {
        margin-bottom: 30px;
        line-height: 30px;
      }
    }
  }
}
