@import "../base/variables";
@import "../base/mixins";

.header, header-white {
  width: 100%;
  position: absolute;
  color: $color_white;
  font-size: $font_size_simple;
  font-family: "Roboto";
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
  z-index: 10;
  .container {
    @include flex-align(space-between, center);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-logo {
    .logo {
      cursor: pointer;
      margin-right: 40px;
    }
    @include flex-align(space-between, center);
    .location {
      @include flex-align(space-between, center);
      font-weight: 600;
      img {
        margin-right: 10px;
      }
    }
  }
  nav {
    a {
      &:not(:last-child) {
        color: $color_white;
        font-size: $font_size_simple;
        font-weight: 500;
        margin-right: 50px;
        transition: all 200ms;
        cursor: pointer;
        &:hover {
          color: $color_yellow;
          &:nth-child(4):after {
            color: $color_white;
          }
        }
        &.active-link {
          color: $color_yellow;
        }
      }
      &:nth-child(4):after {
        content: "/";
        position: relative;
        left: 25px;
        color: $color_white;
      }
    }
  }
  .btn {
    background-color: black;
    font-size: 16px;
    padding: 15px 27px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  .burger, .close-btn {
    display: none;
  }
}

//WHITE HEADER
.header-white {
  position: static;
  color: $color_black;
  background-color: #ffffff;
  border-bottom: 2px solid rgba(149, 149, 149, 0.3);
  nav {
    a {
      cursor: pointer;
      &:not(:last-child) {
        color: $color_black;
        &:hover {
          color: $color_yellow;
          &:nth-child(4):after {
            color: $color_black;
          }
        }
      }
      &:nth-child(4):after {
        color: $color_black;
      }
      &.active-link {
        color: $color_yellow;
      }

    }
  }
}

.btn {
  background-color: rgba(0, 0, 0, 0.6);
  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }
}

.fixed-header {
  position: fixed;
}

@include tablet() {
  .header {
    .container {
      display: block;
    }
    .header-logo {
      text-align: center;
      margin-bottom: 20px;
    }
    nav {
      text-align: center;
    }
  }
}

@include mobile() {
  .header {
    .container {
      display: flex;
    }
    .header-logo {
      margin-bottom: 0;
    }
    .topnav {
      display: none;
    }
    .burger {
      display: inline-block;
      color: $color_yellow;
    }
    .close-btn {
      display: inline-block;
    }
    .topnav.responsive {
      padding-top: 35%;
      display: block;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.8);
      a {
        display: block;
        margin-right: 0;
        margin-bottom: 50px;
        font-size: 36px;
        &:nth-child(4):after {
          content: "";
          display: none;
        }
        &.btn {
          display: none;
        }
      }
      .close-btn {
        position: absolute;
        font-size: 40px;
        top: 10px;
        right: 25px;
        cursor: pointer;
      }
    }
  }
  .header-white {
    .burger {
      color: $color-black;
    }
    .topnav.responsive {
      background: rgba(0, 0, 0, 0.9);
      z-index: 10;
      a {
        color: $color_white;
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    .header-logo {
      .logo {
        margin-right: 10px;
      }
    }
  }
}
