.main {
  height: 100vh;
  position: relative;
  background-image: url("../../assets/img/main-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Roboto";
  padding-top: 66px;
  @include flex-align(center, center);
  .overlay {
    background-color: rgba(49, 69, 55, 0.5);
  }
  .main-info {
    position: relative;
    color: $color_white;
    text-align: center;
    .main-info-title, .txt-yellow {
      font-size: 65px;
      font-weight: 900;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      line-height: normal;
    }
    .txt-yellow {
      color: $color_yellow;
    }
    .main-info-description {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.7;
      letter-spacing: 0.4px;
      margin: 85px 0 115px;
    }
    .btn {
      font-size: 20px;
      padding: 31px 40px;
      background-color: rgba(231, 71, 71, 0.85);
      &:hover {
        background-color: rgba(231, 71, 71, 1);
      }
    }
  }
}

.premium-main {
  .overlay {
    display: none;
  }
  background-image: url("../../assets/img/premiums/premium-bg.png");
  .main-info-title {
    margin-bottom: 55px;
  }
}

.business-main {
  background-image: url("../../assets/img/for-business/business-bg.png");
  height: auto;
  padding: 190px 0 240px;
  .overlay {
    background-image: linear-gradient(23deg, #5790c9, #e39766);
    opacity: 0.6;
  }
  .btn {
    width: 234px;
  }
}

@include tablet() {
  .main {
    height: auto;
    padding-top: 200px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 66px;
  }
}

@include mobile() {
  .main {
    height: auto;
    padding-top: 100px;
  }
}
@media (max-height: 630px) {
  .main {
    height: auto;
    padding-top: 150px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 70px;
  }
  .business-main {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 500px) {
  .main {
    padding-right: 30px;
    padding-left: 30px;
    background-attachment: scroll;
    .main-info {
      .main-info-title, .txt-yellow {
        font-size: 45px;
      }
      .main-info-description {
        margin: 50px 0 50px;
      }
    }
  }
}


