.blogs {
  .container {
    padding-bottom: 100px;
  }
  .blogs-nav {
    padding: 10px 0;
    @include flex-align(space-between, center);
    position: relative;
  }
  .blogs-nav-menu {
    a {
      font-size: $font_size_simple;
      font-weight: normal;
      line-height: 1.88;
      letter-spacing: 0.3px;
      text-align: left;
      color: $color_black;
      transition: all 200ms;
      &:hover {
        color: #ff5c5c;
      }
      &:not(:first-child) {
        margin-left: 50px;
      }
    }
  }
  .blogs-nav-soc {
    a:not(:first-child) {
      margin-left: 15px;
    }
  }
  .burger {
    display: none;
    cursor: pointer;
  }
  .blog-info-date {
    line-height: 2.47;
  }
  .main-blog {
    margin-top: 35px;
    @include flex-align(space-between, stretch);
    .main-blog-img {
      width: 67%;
      background-size: cover;
      background-position: center;
    }
    .main-blog-info {
      width: 35%;
      padding-left: 30px;
    }
    .blog-info-author {
      margin-top: 40px;
    }
  }
}

@include md-laptop() {
  .blogs {
    .blogs-nav {
      flex-wrap: wrap;
    }
    .main-blog {
      display: block;
      margin-bottom: 30px;
      .main-blog-img {
        width: 100%;
        height: 350px;
      }
      .main-blog-info {
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
      }
      .blog-info-author {
        margin-top: 20px;
      }

    }
  }
}

@include mobile() {
  .blogs {
    .blogs-nav-menu {
      display: none;
    }
    .blogs-nav-menu.responsive {
      display: block;
      position: absolute;
      top: 100%;
      background: white;
      width: 100%;
      text-align: center;
      a {
        display: block;
        text-align: center;
        padding: 10px 0;
        &:not(:first-child) {
          margin-left: 0px;
        }
      }
    }
    .burger {
      display: block;
    }
  }
}

@media (max-width: 500px) {
  .blogs {
    .main-blog {
      .main-blog-img {
        height: 235px;
      }
      .main-blog-info {
        padding-left: 0;
        padding-top: 0;
      }
    }
    .blog-info-date {
      line-height: 2.47;
    }
  }
}
