<section class="main premium-main">
  <div class="overlay"></div>
  <div class="main-info"><h1 class="main-info-title">Try<span
    class="txt-yellow"> premium</span> to go<br>healthy and save money</h1><a routerLink="/about-services" class="btn">see all
    services</a></div>
</section>
<section class="info">
  <div class="container">
    <div class="info-block">
      <div class="info-txt"><h2 class="info-txt-title">You can get discounts for all our servises</h2>
        <p class="info-txt-description">Healthy Lifestyle gives you a number of servises which offer you
          great discounts which you can use</p>
        <h2 class="info-txt-title mt">Personal consultations and healthy food programs</h2>
        <p class="info-txt-description">We offer you experts and trainers who will recommend you
          individual and workout. You can get the consultation for free
          either for yourself or for the whole family according to
          the subscription you choose</p></div>
      <div class="info-img"><img src="../../assets/img/premiums/phone.png" class="right"></div>
    </div>
    <div class="info-block">
      <div class="info-img"><img src="../../assets/img/premiums/girl.png" class="left"></div>
      <div class="info-txt"><h2 class="info-txt-title">The discounts are valid for the whole time of
        subscription</h2>
        <p class="info-txt-description">Search and choose restaurants, gyms, nutritionists,
          food delivery and shops, on our site or app restaurants,
          Search and choose restaurants, nutritionists,
          food delivery and shopur site or app.</p>
        <h2 class="info-txt-title mt">As more upgraded subscription as more you save</h2>
        <p class="info-txt-description">Search and choose restaurants, gyms, nutritionists,
          food delivery and shops, on our site or app restaurants,
          Search and choose restaurants, nutritionists,
          food delivery and shopur site or app.</p></div>
    </div>
  </div>
</section>
<section class="calculate">
  <div class="container"><h2>Just calculate...</h2>
    <div class="calculate-container"><img src="../../assets/img/premiums/calculate.svg">
      <p>Just calculate. and choose restaurants, gyms, nutritionists, food delivery and shops,
        on our site or app restaurants, Search and choose restaurants, nutritionists, food delivery
        and shopur site or app. Just calculate. and choose Choose restaurants, nutritionists, and
        shopur site or app</p></div>
  </div>
</section>
<section class="plans">
  <div class="section-container"><h2 class="section-title">Save with flexible plans to suit every budget</h2>
    <div class="plans-container">
      <input id="monthly" type="radio" name="plan" checked>
      <label for="monthly">Monthly</label>
      <input id="annual" type="radio" name="plan">
      <label for="annual">Yearly</label>
      <div class="plans-data monthly">
        <div class="plans-data-item"><h2 class="data-item-title">standart</h2>
          <p class="data-item-discount">from<span class="green-txt"> 5%</span> to<span class="green-txt"> 50%</span>
            discount</p>
          <ul class="data-item-conditions">
            <li class="grey">free consultation with our nutritionist</li>
            <li class="grey">personal healthy food program and training during subscription time</li>
          </ul>
          <span class="data-item-price">$<span class="bold-large-txt"> 11</span> /mo</span><a (click)="openGetAppDialog()" class="btn">subscribe</a>
        </div>
        <div class="plans-data-item"><h2 class="data-item-title">medium</h2>
          <p class="data-item-discount">from<span class="green-txt"> 5%</span> to<span class="green-txt"> 50%</span>
            discount</p>
          <ul class="data-item-conditions">
            <li>free consultation with our nutritionist</li>
            <li>personal healthy food program and training during subscription time<span
              class="bold"> for 1 person</span>
            </li>
          </ul>
          <span class="data-item-price">$<span class="bold-large-txt"> 19</span>  /mo</span><a (click)="openGetAppDialog()" class="btn">subscribe</a>
        </div>
        <div class="plans-data-item"><h2 class="data-item-title">Premium</h2>
          <p class="data-item-discount">from<span class="green-txt"> 5%</span> to<span class="green-txt"> 50%</span>
            discount</p>
          <ul class="data-item-conditions">
            <li>free consultation with our nutritionist</li>
            <li>personal healthy food program and training during subscription time<span
              class="bold">  whole family</span>
            </li>
          </ul>
          <span class="data-item-price">$<span class="bold-large-txt"> 39</span> /mo</span><a (click)="openGetAppDialog()" class="btn">subscribe</a>
        </div>
      </div>
      <div class="plans-data annual">
        <div class="plans-data-item"><h2 class="data-item-title">standart</h2>
          <p class="data-item-discount">from<span class="green-txt"> 5%</span> to<span class="green-txt"> 50%</span>
            discount</p>
          <ul class="data-item-conditions">
            <li class="grey">free consultation with our nutritionist</li>
            <li class="grey">personal healthy food program and training during subscription time</li>
          </ul>
          <span class="data-item-price">$<span class="bold-large-txt"> 123</span> /mo</span><a (click)="openGetAppDialog()"
                                                                                              class="btn">subscribe</a>
        </div>
        <div class="plans-data-item"><h2 class="data-item-title">medium</h2>
          <p class="data-item-discount">from<span class="green-txt"> 5%</span> to<span class="green-txt"> 50%</span>
            discount</p>
          <ul class="data-item-conditions">
            <li>free consultation with our nutritionist</li>
            <li>personal healthy food program and training during subscription time<span
              class="bold"> for 1 person</span>
            </li>
          </ul>
          <span class="data-item-price">$<span class="bold-large-txt"> 201</span>  /mo</span><a (click)="openGetAppDialog()"
                                                                                               class="btn">subscribe</a>
        </div>
        <div class="plans-data-item"><h2 class="data-item-title">Premium</h2>
          <p class="data-item-discount">from<span class="green-txt"> 5%</span> to<span class="green-txt"> 50%</span>
            discount</p>
          <ul class="data-item-conditions">
            <li>free consultation with our nutritionist</li>
            <li>personal healthy food program and training during subscription time<span
              class="bold">  whole family</span>
            </li>
          </ul>
          <span class="data-item-price">$<span class="bold-large-txt"> 398</span> /mo</span><a (click)="openGetAppDialog()"
                                                                                              class="btn">subscribe</a>
        </div>
      </div>
    </div>
    <p class="faq">Do you still have questions? Check out our<a href="#"> FAQ</a></p></div>
</section>
