<div class="get-app">
  <h2>Get Healthy Lifestyle app</h2>
  <p>“It ain’t easy being cheesy.” Raclette has successfully challenged t
    hat statement. Raclette is a type of Swiss cheese that is fashioned into a wheel of 13 lbs. It’s halved, and the
    inside is melted into a smooth
  </p>
  <div class="qr-container">
    <div class="qr">
      <p class="qr-title">
        <img src="../../../../assets/img/icons/android.svg" alt="">
        Android
      </p>
      <div class="qr-code">
        <img src="../../../../assets/img/QR.svg">
      </div>
      <div class="app-link">
        <img src="../../../../assets/img/android-btn.png">
      </div>
    </div>
    <div class="qr">
      <p class="qr-title">
        <img src="../../../../assets/img/icons/apple.svg">
        IOS
      </p>
      <div class="qr-code">
        <img src="../../../../assets/img/QR.svg">
      </div>
      <div class="app-link">
        <img src="../../../../assets/img/ios-btn.png">
      </div>
    </div>
  </div>
</div>
